.border {
    border: 4px solid lightblue;
}

ul {
   border: 1px solid gray;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   list-style-type: none;
}

li {
    width: 100%;
    border: 1px solid gray;
}