body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: darkgray;
    margin: 2%;
}

.border {
    border: 7px solid lightblue;
    border-radius: 10px;
}

ul {
   
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

li {
    width: 100%;
    border: 1px solid gray;
    padding: 8px;
}

li p {
    
    margin: 5px;
    color:dimgray;
}

input {
    border: 0;
    width: 100%;
    color: lightgray;
    margin: 5px;
}


#submitBtn input{
    background-color: darkgreen;
    color: lightgray;
    /*
    width: 350px;
    text-align: center;
    display: inline-block;
    margin: 20px;
    */

    display: block;
    width: 350px;
    /* 0 on top and bottom, split left and right evenly */
    margin: 20px auto;
    padding: 7px 28px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    font-size: .7em;
}

.dropdown select {
    background:transparent;
    width: 297px;
    padding: 0;
    font-size: .7em;
    color:dimgray;
    margin: 5px;
    border: 0;
    border-radius: 0;
}